body {
    font-family: 'Nanum Gothic', sans-serif;
    background-color: #F7F6F4;
}

footer {
    background-color: #3A3E59;
    padding: 50px 0;
    color: white;
    text-align: center;
}

#logo {
    width: 62px;
    height: 62px;
    margin-left: 80px;
}

header {
    display: flex;
    align-items: center;
    height: 93px;
    background-image: url('../img/navbar_background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

header nav {
    width: 40%;
    margin-right: 10px;
    margin-left: auto;
}

header nav ul {
    display: flex;
}

.navList {
    flex: 1;
}