h1 {
    font-size: 40px;
    padding-top: 100px;
    margin-left: 80px;
    margin-bottom: 350px;
    color: white;
    letter-spacing: 0.7rem;
    line-height: 150%;
}

.mainContainer {
    background-image: url('../img/background_profile.png');
    background-repeat: no-repeat;
    background-position: 0 -100px;
}

h1 span {
    font-weight: 900;
}


.recommendedArtist {
    height: 450px;
}

.recommendedArtist h2 {
    color: #ED6B5B;
    text-align: center;
    font-size: 24px;
    margin-bottom: 70px;
}

.recommendedArtistContainer {
    display: flex;
    margin: 0 150px;
}

.recommendedArtistContainer .artist {}

.recommendedArtistContainer .leftArrow {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 40px;
    color: #ED6B5B;
}

.recommendedArtistContainer .rightArrow {
    display: flex;
    align-items: center;
    margin-left: 25px;
    font-size: 40px;
    color: #ED6B5B;
}

.recommendedArtistContainer ul {
    display: flex;
    overflow: auto;
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

.recommendedArtistContainer ul::-webkit-scrollbar {
    display: none;
    /* Chrome, Safari, Opera*/
}

.artist {
    margin: 0 20px;
}

.recommendedArtistContainer .artist img {
    width: 250px;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
    -webkit-box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.56);
    -moz-box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.56);
    box-shadow: 10px 10px 21px -15px rgba(0, 0, 0, 0.56);
}

.recommendedArtistContainer .artist div {
    text-align: center;
    margin-top: 25px;
    font-weight: 700;
}


.updatedArtistContainer {
    background-color: #3A3E59;
    padding: 0 50px;
    padding-bottom: 50px;
}

.updatedArtistContainer h2 {
    color: white;
    text-align: center;
    padding: 60px 0;
}

.updatedArtistCardContainer {
    display: grid;
    grid-template-columns: repeat(4, 280px);
    grid-template-rows: 144px 144px;
    row-gap: 5px;
    column-gap: 10px;
    width: fit-content;
    margin: 0 auto;
}

.updatedArtistCard {
    width: 260px;
    height: 100px;
    background-color: white;
    border-radius: 10px;
    display: flex;
}

.updatedArtistCard img {
    width: 79px;
    height: 79px;
    object-fit: contain;
    margin: 10px;
}

.updatedArtistCard>div {
    flex: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin-left: 10px;
}

.updatedArtistCard>div>div {
    margin: 6px 0;
}

.updatedArtistCard .name {
    font-weight: 600;
    font-size: 18px;
}

.updatedArtistCard .date {
    font-weight: 300;
    font-size: 14px;

}