{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}" />
{% endblock %}
{% block contents %}
<div class="mainContainer">
    <h1>
        나만 알기 아까운 <span>인디 뮤지션</span>
        <br>
        <span>DRUG MUSIC</span>에서 <span>공유</span>하고
        <br>
        <span>공연 정보</span>도 알아가자!
    </h1>
    <div class="container">
        <div class="recommendedArtist">
            <h2>
                DRUG MUSIC에서 추천하는 오늘의 아티스트
            </h2>
            <div class="recommendedArtistContainer">
                <ul>
                    {% for profile in recommendedProfiles %}
                    <li class="artist">
                        <img src="{{profile.image.url}}" />
                        <div>{{profile.name }}</div>
                    </li>
                    {% endfor %}x
                </ul>
            </div>
        </div>
        <div class="updatedArtistContainer">
            <h2>프로필이 새로 업데이트되었어요!</h2>
            <div class="updatedArtistCardContainer">
                {% for profile in updatedProfiles %}
                <div class="updatedArtistCard">
                    <img src="{{profile.image.url}}" />
                    <div>
                        <div class="name">
                            {{profile.name}}
                        </div>
                        <div class="date">
                            {{profile.post_date}}
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}