{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profile.css' %}" />
{% endblock %}
{% block contents %}
<div style="display: flex; justify-content: center;">
   <div class="profileContainer">
      {% for profile in profiles %}
      <div class="card">
         <img src="{{profile.image.url}}" />
         <div class="category">
            {{profile.category}}
         </div>
         <div class="name">
            {{profile.name}}
         </div>
         <div class="line">
            {{profile.line}}
         </div>
      </div>
      {% endfor %}
      {% for profile in profiles %}
      <div class="card">
         <img src="{{profile.image.url}}" />
         <div class="category">
            {{profile.category}}
         </div>
         <div class="name">
            {{profile.name}}
         </div>
         <div class="line">
            {{profile.line}}
         </div>
      </div>
      {% endfor %}
      {% for profile in profiles %}
      <div class="card">
         <img src="{{profile.image.url}}" />
         <div class="category">
            {{profile.category}}
         </div>
         <div class="name">
            {{profile.name}}
         </div>
         <div class="line">
            {{profile.line}}
         </div>
      </div>
      {% endfor %}
      {% for profile in profiles %}
      <div class="card">
         <img src="{{profile.image.url}}" />
         <div class="category">
            {{profile.category}}
         </div>
         <div class="name">
            {{profile.name}}
         </div>
         <div class="line">
            {{profile.line}}
         </div>
      </div>
      {% endfor %}
      {% for profile in profiles %}
      <div class="card">
         <img src="{{profile.image.url}}" />
         <div class="category">
            {{profile.category}}
         </div>
         <div class="name">
            {{profile.name}}
         </div>
         <div class="line">
            {{profile.line}}
         </div>
      </div>
      {% endfor %}
   </div>

</div>
{% endblock %}