{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="{% static 'css/profileDetail.css' %}" />
{% endblock %}
{% block contents %}
<div>
    <div class="profileContainer">
        <img src="{{ profile.image.url }}" id="profile" />
        <div id="name">
            {{profile.name}}
        </div>
    </div>
    <div class="detail">
        <ul class="detailList">
            <li>{{profile.category}}</li>
            <li>{{profile.place}}</li>
            <a href="{% url 'edit' profile.id %}"><li class="edit">수정할래요!</li></a>
        </ul>
        <div class="description">
            {{profile.detail}}
        </div>
    </div>
    <div class="videos">
        <div class="videosHeader">
            <div>들으면 반하는 라이브 영상</div><button id="upload">영상 업로드</button>
        </div>
        <div class="videoContainer">
            {% for video in profile.changedVideos %}

            <iframe width="560" height="315" src="{{video.link}}" frameborder="0"
                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            {% endfor %}
        </div>
    </div>
    <!-- The Modal -->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <span class="close">&times;</span>
            <form method="POST" action="{% url 'video' profile.id %}" id="frm">{% csrf_token %}
                <input type="text" name="link" id="link" />
                <button type="button" id="upButton">업로드</button>
            </form>
        </div>

    </div>

</div>
{% endblock %}

{% block script %}
<script>
    // Get the modal
    var modal = document.getElementById('myModal');


    var uBtn = document.getElementById('upButton');
    // Get the button that opens the modal
    var btn = document.getElementById("upload");

    // Get the <span> element that closes the modal
    var span = document.getElementsByClassName("close")[0];

    var link = document.getElementById('link')

    // When the user clicks on the button, open the modal 
    btn.onclick = function () {
        modal.style.display = "block";
    }

    // When the user clicks on <span> (x), close the modal
    span.onclick = function () {
        modal.style.display = "none";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
        // modal.onclick = function () {
        //     modal.style.display = "none";
        // }
    }

    window.onload = function () {
        uBtn.onclick = function () {
            var regExp = /https:\/\/www\.youtube\.com\/watch\?v=[\S]*/g;
            if (link.value.match(regExp)) {
                link.value = link.value.split('=')[1]
                document.getElementById('frm').submit();
            } else {
                alert("올바른 Youtube 주소가 아닙니다")
            }
            // return false;
        };
    };
</script>
{% endblock %}