{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DrugMusic</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <a href="{% url 'main' %}"><img id="logo" src="{% static 'img/logo.png' %}" /></a>
        <nav>
            <ul>
                <a href="{% url 'main' %}" class="navList">
                    <li>홈</li>
                </a>
                <a href="{% url 'profile' %}" class="navList">
                    <li>프로필</li>
                </a>
                <a href="{% url 'profileNew' %}" class="navList">
                    <li>프로필 작성</li>
                </a>
                <a href="{% url 'schedule' %}" class="navList">
                    <li>공연 일정</li>
                </a>
            </ul>
        </nav>
    </header>
    {% block contents %}
    {% endblock %}
    <footer>
        Copyright © 2020 DRUG MUSIC. All rights reserved.
    </footer>
    {% block script %}
    {% endblock %}
</body>

</html>