{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link href="https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>

<body>
    <header>
        <img id="logo" src="{% static 'img/logo.png' %}" />
        <nav>
            <ul>
                <li class="navList">홈</li>
                <li class="navList">프로필</li>
                <li class="navList">프로필 작성</li>
                <li class="navList">공연 일정</li>
            </ul>
        </nav>
    </header>
    {% block contents %}
    {% endblock %}
</body>

</html>